.anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  margin-top: -5rem; 
  background-color: transparent;
  z-index: -1;
}

.section-container {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 2.5rem;
  text-align: center;
  padding: 0 1rem;
  align-items: center;
}

.section-container h2 {
  font-family: 'Gagalin';
  font-size: 2.5rem;
  color: var(--blue);
  width: 60%;
  margin: 0 auto;
}

.section-container span {
  font-family: 'Gagalin';
  font-size: 2.5rem;
  color: var(--green);
}

.section-container p {
  width: 75%;
  margin: 0 auto;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  color: var(--text-body);
}

.problems {
  margin-top: 2rem;
}

.problems li {
  margin-bottom: 2.5rem;
}

.problems li div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-light);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.problems h3 {
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  color: var(--blue);
  font-size: 1.25rem;
}

.problems p {
  color: var(--text-body);
  font-size: 1rem;
  margin-top: 0rem;
  font-weight: 400;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem auto 1.5rem;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 2rem;
  padding: 0rem 1.5rem 1rem;
  border: 2px solid transparent;
  width: 15rem;
  height: 13.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1.5rem;
  transition: all .3s ease-in;
}

.card:hover {
  cursor: pointer;
  border-color: var(--green);
}

.card lottie-player {
  width: 8rem;
}

.card.small lottie-player {
  width: 12rem;
}

.card h3 {
  color: var(--blue);
  position: absolute;
  bottom: .7rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.input-container {
  position: relative;
  width: 48%;
}

.form__input {
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid var(--blue);
  border-radius: 1.25rem;
  color: var(--blue);
  outline: none;
  padding: .8rem;
  background: none;
  font-size: 1rem;
}
.form__input:hover {
  border-color: var(--green-light);
}
.form__input:focus {
  border-color: var(--green);
}
.form__label {
  position: absolute;
  left: 1rem;
  top: .8rem;
  padding: 0 .5rem;
  color: var(--blue);
  cursor: text;
  transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
  background-color: var(--background);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.calendly-mobile {
  display: none;
}

@media (max-width: 1080px) {
  .section-container h2 {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  form {
    margin-top: 2.5rem;
  }
  .calendly-desktop {
    display: none;
  }
  .calendly-mobile {
    display: block;
  }
  .section-container p {
    width: 100%;
  }
  .problems {
    flex-direction: column;
  }
}
