.anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  margin-top: -5rem; 
  background-color: transparent;
  z-index: -1;
}

.section-container {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 2.5rem;
  text-align: center;
  padding: 0 1rem;
  align-items: center;
}

.section-container h2 {
  font-family: 'Gagalin';
  font-size: 2.5rem;
  color: var(--blue);
  width: 60%;
  margin: 0 auto;
}

.section-container span {
  font-family: 'Gagalin';
  font-size: 2.5rem;
  color: var(--green);
}

.section-container p {
  width: 75%;
  margin: 0 auto;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  color: var(--text-body);
}

.problems img {
  transform: scale(.6);
}

.problems {
  margin-top: 2rem;
}

.problems li {
  margin-bottom: 2.5rem;
}

.problems li div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-light);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.problems h3 {
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  color: var(--blue);
  font-size: 1.25rem;
}

.problems p {
  color: var(--text-body);
  font-size: 1rem;
  margin-top: 0rem;
  font-weight: 400;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem auto 1.5rem;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 2rem;
  padding: 0rem 1.5rem 1rem;
  border: 2px solid transparent;
  width: 15rem;
  height: 13.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1.5rem;
  transition: all .3s ease-in;
}

.card:hover {
  cursor: pointer;
  border-color: var(--green);
}

.card lottie-player {
  width: 8rem;
}

.card.small lottie-player {
  width: 12rem;
}

.card h3 {
  color: var(--blue);
  position: absolute;
  bottom: .7rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.input-container {
  position: relative;
  width: 48%;
}

.form__input {
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid var(--blue);
  border-radius: 1.25rem;
  color: var(--blue);
  outline: none;
  padding: .8rem;
  background: none;
  font-size: 1rem;
}
.form__input:hover {
  border-color: var(--green-light);
}
.form__input:focus {
  border-color: var(--green);
}
.form__label {
  position: absolute;
  left: 1rem;
  top: .8rem;
  padding: 0 .5rem;
  color: var(--blue);
  cursor: text;
  transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
  background-color: var(--background);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.calendly-mobile {
  display: none;
}

.price-card {
  background-color: var(--shape);
  max-width: 470px;
  margin: 2rem auto 0;
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.price-card .title h3 {
  font-size: 2rem;
  font-family: 'Gagalin';
  color: var(--blue-light);
}

.price-card .title p {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--green);
  font-weight: bold;
  margin-top: 0;
}

.price-card ul {
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem 0;
  align-items: center;
}

.price-card ul li {
  position: relative;
  list-style-type: none;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--blue);
}

.price-card ul li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--green);
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.price {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 25%;
  white-space: nowrap;
  font-family: 'Gagalin';
  color: var(--green);
  font-weight: bold;
}

.price h3 {
  width: 100%;
  font-size: 1.25rem;
  margin-right: 1rem;
}

.price p {
  margin-top: 0;
  width: auto;
  font-size: 1rem;
  text-decoration: line-through;
}

.price-card .resume {
  display: flex;
  margin-top: 0;
  font-size: 1rem;
  color: var(--green);
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.price-card .price-info {
  display: flex;
  margin-top: 0;
  font-size: 1rem;
  justify-content: center;
}

.price-btn {
  padding: .8rem 1.5rem;
  border-radius: .5rem;
  border: none;
  background-color: var(--green);
  color: var(--shape);
  font-weight: bold;
  margin-top: 1.5rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all .8s;
}

.price-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.faq-container {
  width: 100%;
  max-width: 720px;
  flex-direction: column;
  margin: 1.5rem auto;
  padding-bottom: 15rem;
}

.faq-container li {
  width: 100%;
}

.accordion {
  background-color: var(--shape);
  color: var(--blue);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1rem;
  font-weight: bold;
  /* border-bottom: .5px solid var(--blue); */
}

.faq-container li:first-child .accordion{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.faq-container li:last-child .accordion{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-accordion, .accordion:hover {
  background-color: #00000012;
}

.active-accordion:not(.faq-container li:first-child .accordion) {
  border-radius: 0 !important;
}

.active-item {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 9;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  margin: 0;
  font-size: 1rem;
  display: flex;
  width: 100%;
  text-align: left;
  padding: 1rem 0;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: var(--green);
  float: right;
  margin-left: 5px;
}

.active-accordion:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

@media (max-width: 1080px) {
  .section-container h2 {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  form {
    margin-top: 2.5rem;
  }
  .calendly-desktop {
    display: none;
  }
  .calendly-mobile {
    display: block;
    margin-top: 2rem;
  }
  .section-container p {
    width: 100%;
  }
  .problems {
    flex-direction: column;
  }
}
