@import "header.css";
@import "whatsapp.css";
@import "banner.css";
@import "sections.css";
@import "modal.css";
@import "swiper.css";
@import "monitor.css";
@import "footer.css";

@font-face {
  font-family: 'Gagalin';
  src: url('../assets/Gagalin-Regular.ttf') format('truetype');
}

:root {
  --background: #f0f2f5;
  --blue: #07224B;
  --blue-light: #113C7B;
  --green: #269912;
  --green-light: rgba(38, 153, 18, 0.6);
  --text-title: #363F5F;
  --text-body: #464646;
  --text-footer: #e4e4e4;
  --shape: #FFFFFF;
  --whatsapp: #25d366;
  --whatsapp-dark: #1ba84f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--background);
}

/* front-size: 16px (Desktop) */

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--green-light);;
}
html::-webkit-scrollbar-thumb {
  background: var(--green);
  transition: all 0.50s ease-in-out;
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--whatsapp-dark);
}

/* REM = 1rem = 16px */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  height: 500vh;
  position: relative;
}

button, .calendly {
  cursor: pointer;
}

[disbbled] {
  opacity: 0.6;
  cursor: not-allowed;
}


/* Neon Button */
/* 
.btn-go {
  position: relative;
  display: inline-block;
  padding: .8rem 1rem;
  color: var(--green);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden; 
}
.btn-go:hover{
  background: var(--green);
  color: var(--background);
  box-shadow: 0 0 5px var(--green),
              0 0 25px var(--green),
              0 0 50px var(--green),
              0 0 200px var(--green);
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.btn-go:nth-child(1){
  filter: hue-rotate(270deg);
}
.btn-go:nth-child(2){
  filter: hue-rotate(110deg);
}
.btn-go span{
  position: absolute;
  display: block;
}
.btn-go span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,var(--green));
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.btn-go span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,var(--green));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.btn-go span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,var(--green));
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


.btn-go span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,var(--green));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
} */

@media (max-width: 1080px) {
  .nav-desktop, .btn-container {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
}